# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.esbuild
.env

# Apagar depois
src/json
src/services/gcp/list-messages2.ts

# Coverage directory used by tools like istanbul
coverage