# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.esbuild
.env

# Apagar depois
src/assets/pdfs
src/json

# Coverage directory used by tools like istanbul
coverage